body {
font-family: Arial, sans-serif;
background:#f5f5f5;
margin:0;
padding:20px;
}

header {
background:#1e293b;
color:white;
padding:20px;
text-align:center;
}

a {
display:inline-block;
margin-top:10px;
color:#0ea5e9;
text-decoration:none;
}

section {
margin-top:30px;
}

#catalog div, #products div {
background:white;
padding:15px;
margin:10px 0;
border-radius:8px;
}

input {
padding:10px;
width:100%;
margin-bottom:20px;
}
